<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Test Stock Chart</title>
</head>
<body>
    
    <%# put your script tags below this config file for github %>
    <script type='text/javascript' src='config.js'></script>
</body>
</html>